a( name="ring", class="#{result} ring")
h1 
  | #{project_name}:
  strong( class="#{result}") #{branch_name}
  h3 #{commit.author_name}
  p #{commit.message}
  ul.semaphore-history
    each build in history.builds
      li.ring(class="#{build.result}")
    
