h2 #{name}
p #{totalPoints} points in #{stories.length} stories. #{finished} finished stories. #{stories.length - finished} stories totaling #{remainingPoints} points remaining. 
ul.stories
  each story, index in stories
    if index < 4
      li #{story.name}
